$main: #ee4420;
$light: #f6f6f6;

.bg-clip {
    background-color: $main;
    clip-path: polygon(0 0, 95% 0, 55% 100%, 0% 100%);
    border-radius: 16px 0px 0px 16px;
}

.live-view {
    padding: 0 48px;
    width: 200px;
    position: absolute;
    bottom: 5%;
    div {
        color: $light;
        font-weight: bolder;
    }
}

.prod {
    left: -70%;
    position: absolute;
    bottom: 0;
}

.done-svg {
    color: $light;
    padding: 4px;
    font-size: 12px !important;
    border: 1px solid $light;
    border-radius: 50%;
}

.done-active {
    position: absolute;
    top: 5%;
    left: 75%;
}

.now-step {
    background-color: $main !important;
}

.arrow-icon {
    border: 1px solid $light;
    padding: 2px;
    border-radius: 50%;
    color: $light;
}

.MuiGridListTile-tile {
    height: unset !important;
}